{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block body %}


<div class="row">
<div class="col-md-12">
<div class="alert alert-success" role="alert">

<ul>
<li>
{{ label_ecoquartier }} ÉcoQuartiers officiellement labellisés par l'État
</li>
<li>
{{ engaged_ecoquartier }} projets d'ÉcoQuartiers sont diplômés "Engagés dans la labellisation"
</li>
<li>
{{ logements.logements__sum }} logements construits ou rénovés
</li>
<li>
{{ percent_renouvellement_urbain }} % des ÉcoQuartiers sont en renouvellement urbain, xx % en extension maîtrisée
</li>
<li>
xx% de production d'énergie à partir de ressources renouvelables et xx% d'économies d'énergie
</li>
</ul>
<hr>
<p><a class="alert-link" href="{% url 'create' %}">Ajouter votre projet d'ÉcoQuartier</a></p>
</div>
</div>
</div>

<div class="row">

<div class="col-md-8">
{% leaflet_map "yourmap" %}
</div>
<div class="col-md-4">
<form action="" method="get">
	{% bootstrap_form filter.form %}
	{% buttons %}
    <button type="submit" class="btn btn-primary btn-block">
      Filtrer
    </button>
  {% endbuttons %}
</form>
</div>
</div>

<table class="table table-striped table-condensed">
<tr>
  <th>{{ filter.qs|length }} projets</th>
  <th></th>
</tr>
{% for obj in filter %}
    <tr>
    <td>{{ obj }}</td>
    <td>{% if obj.commune.charte_ecoquartier %}<span class="label label-success">Charte Ecoquartier</span>{% else %}<span class="label label-warning">Pas de charte</span>{% endif %}
    </td>
    </tr>
{% endfor %}
</table>

{% endblock %}

{% block after-body %}
{{ block.super }}
<script type="text/javascript">
  $(window).on('map:init', function (e) {
      function onEachFeature(feature, layer) {
      if (feature.properties) {
          var content_img = '';
          if(feature.properties.feature !== null){
          var content_img = "<img src='"+feature.properties.feature+"' style='width:100%' />"
          }
          var content = content_img+'<b>'+feature.properties.nom+" ("+feature.properties.commune_label+") </b><br>"+feature.properties.short_description + "<br/><br/><div> <a target='_blank' href='"+feature.properties.url+"' class='btn btn-outline-primary btn-block btn-sm' role='button'>Détail</a> </div>";

          layer.bindPopup(content);
          }
      }
      var detail = e.originalEvent ?
                   e.originalEvent.detail : e.detail;

      L.geoJson({{ geojson|safe }}, {
        style: function(feature) {
          switch (feature.properties.state) {
              case 'labeled': return {color: "#728C00", "opacity": 1};
              case 'engaged':   return {color: "#999999", "opacity": 1};
              case 'none': return {color: "#dddddd", "opacity": 1};
          }
        },
        onEachFeature: onEachFeature,
        pointToLayer: function(feature, latlng) {
          return new L.CircleMarker(latlng, {radius: 1, fillOpacity: 0.85});
        }
      }).addTo(detail.map);
  });
</script>
{% endblock %}
