{% extends "base.html" %}
{% load leaflet_tags bootstrap3 l10n %}

{% block header %}
{% leaflet_js %}
{% leaflet_css %}
<style type="text/css">
    .leaflet-container {
      width:  100%;
      height: 700px;
    }
</style>
{% endblock %}

{% block body %}


<div class="row">
<div class="col-md-12">
<div class="alert alert-success" role="alert">

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">{{ label_ecoquartier }}</h4>
      <p class="card-text">ÉcoQuartiers officiellement labellisés par l'État</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">{{ engaged_ecoquartier }}</h4>
      <p class="card-text">projets d'ÉcoQuartiers sont diplômés "Engagés dans la labellisation"</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">{{ logements.logements__sum|localize }}</h4>
      <p class="card-text">logements construits ou rénovés</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">{{ percent_renouvellement_urbain }} %</h4>
      <p class="card-text">des ÉcoQuartiers sont en renouvellement urbain, xx % en extension maîtrisée</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">xx %</h4>
      <p class="card-text">de production d'énergie à partir de ressources renouvelables et xx% d'économies d'énergie</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
      <h4 class="card-title">Projets labellisés</h4>
      <canvas id="myChart" width="400" height="100"></canvas>
      <script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for a in annee_label %}{{ a.annee_label }}{% if forloop.last%}{% else %},{% endif %}{% endfor %}],
              datasets: [{
                  data: [{% for a in annee_label %}{{ a.annee_label__count }}{% if forloop.last%}{% else %},{% endif %}{% endfor %}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255,99,132,1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
            legend: {
          display: false,
      },
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      });
      </script>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card card-inverse" style="background-color: #333; border-color: #333;">
      <div class="card-block">
      <h4 class="card-title">Un ÉcoQuartier ?</h4>
      <a href="{% url 'create' %}" class="btn btn-success">Déposer votre projet</a>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>

<div class="row">

<div class="col-md-7">
{% leaflet_map "yourmap" %}
</div>
<div class="col-md-5">
<form action="" method="get">
	{% bootstrap_form filter.form %}
	{% buttons %}
    <button type="submit" class="btn btn-block">
      Filtrer
    </button>
  {% endbuttons %}
</form>
</div>
</div>

<br>

<div class="row">
<div class="col-md-12">
<table class="table table-striped table-sm">
<thead class="thead-inverse">
<tr>
  <th></th>
  <th>{{ filter.qs|length }} projets d'ÉcoQuartier</th>
  <th></th>
  <th></th>
</tr>
</thead>
{% for obj in filter %}
    <tr>
    <td>{{ obj.mise_a_jour }}</td>
    <td><a href="{% url 'detail' obj.id %}">{{ obj }}</a></td>
    <td>{{ obj.label_ecoquartier }}</td>
    <td>{% if obj.commune.charte_ecoquartier %}<span class="label label-success">Charte Ecoquartier</span>{% else %}<span class="label label-warning">Pas de charte</span>{% endif %}
    </td>
    </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}

{% block after-body %}
{{ block.super }}
<script type="text/javascript">
  $(window).on('map:init', function (e) {
      function onEachFeature(feature, layer) {
      if (feature.properties) {
          var content_img = '';
          if(feature.properties.feature !== null){
          var content_img = "<img src='"+feature.properties.feature+"' style='width:100%' />"
          }
          var content = content_img+'<b>'+feature.properties.nom+" ("+feature.properties.commune_label+") </b><br>"+feature.properties.short_description + "<br/><br/><div> <a target='_blank' href='"+feature.properties.url+"' class='btn btn-outline-primary btn-block btn-sm' role='button'>Détail</a> </div>";

          layer.bindPopup(content);
          }
      }
      var detail = e.originalEvent ?
                   e.originalEvent.detail : e.detail;

      L.geoJson({{ geojson|safe }}, {
        style: function(feature) {
          switch (feature.properties.state) {
              case 'labeled': return {color: "#728C00", "opacity": 1};
              case 'engaged':   return {color: "#999999", "opacity": 1};
              case 'none': return {color: "#dddddd", "opacity": 1};
          }
        },
        onEachFeature: onEachFeature,
        pointToLayer: function(feature, latlng) {
          return new L.CircleMarker(latlng, {radius: 1, fillOpacity: 0.85});
        }
      }).addTo(detail.map);
  });
</script>
{% endblock %}
