{% extends "base.html" %}

{% block body %}

<div class="container">

<h2>Votre profil</h2>

{{ user.username }}
{{ user.email }}

<ul>
<li>changer le mot de passe</li>
</ul>


</div>


<div class="container">
{% if projects_owner %}
<h3>Les projets que vous portez</h3>

<table class="table">
{% for project in projects_owner %}
<tr>
	<td><a href="{% url 'detail' project.id %}">{{ project }}</a> </td>
	<td><a href="{% url 'update' project.id %}">Modifier</a> </td>
	<td><a href="{% url 'editors' project.id %}">Editer les droits</a> </td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if projects_editor %}
<h3>Les projets auxquels vous contribuez</h3>

{% for project in projects_editor %}
	<a href="{% url 'detail' project.id %}">{{ project }}</a>
{% endfor %}

{% else %}
	<a href="{% url 'create' %}" class="btn btn-success">Déposer votre projet</a>
{% endif %}

</div>

{% endblock %}