{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block body %}

<h2>{{ object.nom }}</h2>

{{ object.description }}

<div>
{% for photo in object.projectphoto_set.all %}
<img height="200px" src="{{ photo.photo.url }}" />
{% endfor %}
</div>

<table class="table">
<tr>
	<th class="bg-info">1</th>
	<th class="bg-warning">2</th>
	<th class="bg-danger">3</th>
	<th class="bg-success">4</th>
</tr>
<tr>
	<td class="bg-info">Engagement 1</td>
	<td class="bg-warning">Engagement 6</td>
	<td class="bg-danger">Engagement 11</td>
	<td class="bg-success">Engagement 16</td>
</tr>
<tr>
	<td class="bg-info">Engagement 2</td>
	<td class="bg-warning">Engagement 7</td>
	<td class="bg-danger">Engagement 12</td>
	<td class="bg-success">Engagement 17</td>
</tr>
<tr>
	<td class="bg-info">Engagement 3</td>
	<td class="bg-warning">Engagement 8</td>
	<td class="bg-danger">Engagement 13</td>
	<td class="bg-success">Engagement 18</td>
</tr>
<tr>
	<td class="bg-info">Engagement 4</td>
	<td class="bg-warning">Engagement 9</td>
	<td class="bg-danger">Engagement 14</td>
	<td class="bg-success">Engagement 19</td>
</tr>
<tr>
	<td class="bg-info">Engagement 5</td>
	<td class="bg-warning">Engagement 10</td>
	<td class="bg-danger">Engagement 15</td>
	<td class="bg-success">Engagement 20</td>
</tr>
</table>

{% endblock %}