{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block header %}

  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}

{% endblock %}

{% block body %}

<div class="container">
<div class="row">

<div class="col-md-8">

<h2>Ajouter un projet d'ÉcoQuartier</h2>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    {% bootstrap_field form.nom %}

    <fieldset class="form-group">
      <legend>Localisation du projet</legend>
      {% bootstrap_field form.commune %}
      {% bootstrap_field form.communes %}
      {% bootstrap_field form.coordonnees_geographiques %}
    </fieldset>

    <fieldset class="form-group">
      <legend>Contact (Chef de projet)</legend>
      {% bootstrap_field form.project_manager_lastname %}
      {% bootstrap_field form.project_manager_firstname %}
      {% bootstrap_field form.project_manager_mail %}
      {% bootstrap_field form.project_manager_structure %}
    </fieldset>

    <fieldset class="form-group">
      <legend>Caractéristiques</legend>
    {% bootstrap_field form.type_operations %}
    {% bootstrap_field form.vocations %}
    {% bootstrap_field form.description %}
    {% bootstrap_field form.demarches %}
    {% bootstrap_field form.tags %}
    </fieldset>

    {% bootstrap_field form.charte %}
    {% bootstrap_field form.european_network %}

    <div class="alert alert-info">
      Vous faites désormais partie du club EcoQuartier, à ce titre vous recevrez la newsletter ainsi que les invitations au <a href="http://www.ecoquartiers.logement.gouv.fr/clubs-regionaux-r550.html">club EcoQuartier de votre région</a> et au <a href="http://www.ecoquartiers.logement.gouv.fr/club-ecoquartier-r7.html">club EcoQuartier</a> national (formations, visites et journées thématiques).
    </div>

    {% buttons %}
    <button type="submit" class="btn btn-block">
      Soumettre votre projet d'écoquartier
    </button>
  {% endbuttons %}
</form>
</div>

<div class="col-md-4">
<div class="alert alert-warning" role="alert">
  <h5 class="alert-heading">Besoin d’informations ?</h5>
  <p>Vos référents EQ à la DREAL/DDT peuvent vous aider</p>
  <ul class="m-b-0">
  <li>Contact DREAL :  XXX</li>
  <li>Contact DDT : XXX</li>
  </ul>
</div>
<div class="alert alert-warning" role="alert">
  <p class="m-b-0">Ils font la ville et les territoires durables dans votre région !</p>
</div>
<div class="alert alert-warning" role="alert">
  <p class="m-b-0"><a href="http://www.ecoquartiers.logement.gouv.fr">Agenda Ville durable</a></p>
</div>
</div>

</div>
</div>

{% endblock %}

{% block after-body %}
  {{ block.super }}
  {{ form.media }}

<script type="text/javascript">
$(window).on("map:init", function (e) {
   var map = e.detail.map;
   map.on('map:loadfield', function () {
      map.drawControlid_coordonnees_geographiques.setDrawingOptions({
          rectangle: false,
          marker:false,
          polyline:false
      });
      map.removeControl(map.drawControlid_coordonnees_geographiques);
      map.addControl(map.drawControlid_coordonnees_geographiques);
   });
});

</script>

{% endblock %}