{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block body %}

<h2>{{ project.nom }}</h2>

<h3>Engagement {{ engagement_id }}</h3>

{{ project.description }}

{% include "projects/engagement_outline.html" %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-block">
      Soumettre votre engagement {{ engagement_id }}
    </button>
  {% endbuttons %}
</form>

{% endblock %}
