{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block header %}
{% leaflet_js %}
{% leaflet_css %}
<style type="text/css">
    .leaflet-container {
      width:  100%;
      height: 300px;
    }
</style>
{% endblock %}


{% block body %}

<div class="container">

<h2>{{ object.nom }}</h2>

{{ object.description }}


<div class="row">


<div class="col-md-8">

<h3>Avancement dans la démarche</h3>

<table class="table">
<tr>
  <td>Étape 1 : ÉcoQuartier en projet</td>
  <td>Étape 2 : ÉcoQuartier en chantier</td>
  <td>Étape 3 : ÉcoQuartier livré</td>
  <td>Étape 4 : Écoquartier vécu et confirmé</td>
</tr>
<tr>
  <td>
    <input type="checkbox" disabled> Dépôt de la charte signée <br>
    <input type="checkbox" disabled checked> Fiche identité du projet
  </td>
  <td>
    <input type="checkbox" disabled> Dossier de labellisation : réponse aux 20 engagements <br>
    <input type="checkbox" disabled> Visite de terrain <br>
    <input type="checkbox" disabled> Expertise <br>
    <input type="checkbox" disabled> Commission régionale
  </td>
  <td>
    <input type="checkbox" disabled> Dossier de labellisation : réponse aux 20 engagements ou mise à jour <br>
    <input type="checkbox" disabled> Visite de terrain <br>
    <input type="checkbox" disabled> Expertise <br>
    <input type="checkbox" disabled> Commission nationale
  </td>
  <td>
    <input type="checkbox" disabled> Auto­évaluation du projet
  </td>
</tr>
</table>

<hr>


</div>



<div class="col-md-4">

{% leaflet_map "yourmap" %}

<div>
{% for photo in object.projectphoto_set.all %}
<img height="200px" src="{{ photo.photo.url }}" />
{% endfor %}
</div>

<br>

</div>

</div>

{% if editable %}


<div class="row">


<div class="col-md-8">

<div class="alert alert-info" role="alert">
Pour lire votre projet au prisme des 20 engagements de la charte et/ou renseigner le dossier de candidature au label EcoQuartier, vous devez cliquer sur chacun des 20 engagements
</div>


{% include "projects/engagement_outline_large.html" %}

<hr>

<form action="" method="post" enctype="multipart/form-data">

    <fieldset class="form-group">
      <legend>Les documents de base du projet</legend>
      {% bootstrap_field form.plan_situation_1_5000 %}
      {% bootstrap_field form.plan_masse_1_1000 %}
      {% bootstrap_field form.plan_masse_1_500 %}
      {% bootstrap_field form.plan_detaille %}
    </fieldset>

<button class="btn btn-block btn-primary" type="submit">Mettre à jour les documents</button>

<hr>

<h3>Les acteurs du projet</h3>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab"  href="#moa">MOA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  href="#moe">MOE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab"  href="#partners">Partenaires</a>
  </li>
</ul>

<div class="tab-content">

<div class="tab-pane active" id="moa" role="tabpanel">
<fieldset class="form-group">
  {% bootstrap_field form.maitrise_ouvrage_structure %}
      {% bootstrap_field form.maitrise_ouvrage_nom %}
</fieldset>
</div>
<div class="tab-pane" id="moe" role="tabpanel">
<fieldset class="form-group">
  {% bootstrap_formset formset_2 %}
  </fieldset>
</div>
<div class="tab-pane" id="partners" role="tabpanel">
<fieldset class="form-group">
  {% bootstrap_formset formset %}
  </fieldset>
</div>

</div>

<button class="btn btn-block btn-primary" type="submit" >Mettre à jour les acteurs</button>

</form>


{% if object.dimensions_completed %}
<div class="alert alert-info">
Tous les engagements sont complétés,
<br>
je souhaite soumettre ma candidature à la démarche de labellisation EQ.
<br>
<input class="btn" type="submit" name="">
</div>
{% endif %}

</div>

<div class="col-md-4">
  <div class="alert alert-warning" role="alert">
    <h5 class="alert-heading">Besoin d’informations ?</h5>
    <p>Vos référents EQ à la DREAL/DDT peuvent vous aider</p>
    <ul class="m-b-0">
    <li>Contact DREAL :  XXX</li>
    <li>Contact DDT : XXX</li>
    </ul>
  </div>

  <div class="alert alert-warning" role="alert">
    <h5 class="alert-heading">La démarche de labellisation</h5>
    <ul class="m-b-0">
    <li>Plaquette « ensemble vers la ville durable »</li>
    <li>Les enseignements des EcoQuartiers</li>
    <li>Fiches projets labellisés</li>
    <li>Grilles contextualisées</li>
    </ul>
  </div>
  <div class="alert alert-info" role="alert">
    <h5 class="alert-heading">Dernières modifications du projet</h5><ul class="m-b-0">
    <li>Liste des dernières modifications</li>
    </ul>
  </div>
</div>
</div>

{% endif %}



</div>

{% endblock %}

{% block after-body %}
{{ block.super }}
<script type="text/javascript">
  $(window).on('map:init', function (e) {
      var detail = e.originalEvent ?
                   e.originalEvent.detail : e.detail;

      var geojsonLayer = L.geoJson({{ geojson|safe }}, {
        style: function(feature) {
          switch (feature.properties.state) {
              case 'labeled': return {color: "#728C00", "opacity": 1};
              case 'engaged':   return {color: "#999999", "opacity": 1};
              case 'none': return {color: "#dddddd", "opacity": 1};
          }
        },
        pointToLayer: function(feature, latlng) {
          return new L.CircleMarker(latlng, {radius: 1, fillOpacity: 0.85});
        }
      }).addTo(detail.map);
      detail.map.fitBounds(geojsonLayer.getBounds());
  });
</script>
{% endblock %}

