{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block header %}

  {% leaflet_js plugins="forms" %}
  {% leaflet_css plugins="forms" %}

{% endblock %}

{% block body %}

<div class="container">
<div class="row">

<div class="col-md-7">

<h2>Ajouter un projet d'ÉcoQuartier</h2>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form_errors form %}

    {% bootstrap_field form.nom %}

    <fieldset class="form-group">
      <legend>Localisation du projet</legend>
      {% bootstrap_field form.commune %}
      {% bootstrap_field form.communes %}
      {% bootstrap_field form.coordonnees_geographiques %}
    </fieldset>

    <fieldset class="form-group">
      <legend>Contact Commune</legend>
      {% bootstrap_field form.project_manager_lastname %}
      {% bootstrap_field form.project_manager_firstname %}
      {% bootstrap_field form.project_manager_mail %}
      {% bootstrap_field form.project_manager_structure %}
    </fieldset>

    <button class="btn btn-small" id="add-contact">Ajouter un contact</button>
    <fieldset class="form-group" id="more-contact">
      <legend>Contact Aménageur</legend>
      {% bootstrap_field form.project_developer_lastname %}
      {% bootstrap_field form.project_developer_firstname %}
      {% bootstrap_field form.project_developer_mail %}
      {% bootstrap_field form.project_developer_structure %}
    </fieldset>



    <fieldset class="form-group">
      <legend>Caractéristiques</legend>
    {% bootstrap_field form.plusieurs_tranches %}
    {% bootstrap_field form.type_operations %}
    {% bootstrap_field form.vocations %}
    {% bootstrap_field form.procedure %}
    {% bootstrap_field form.description %}
    {% bootstrap_field form.demarches %}
    {% bootstrap_field form.demarches_autres %}
    {% bootstrap_field form.tags %}
    </fieldset>

    {% bootstrap_field form.charte %}
    {% bootstrap_field form.european_network %}

    <div class="alert alert-info">
      Vous faites désormais partie du club EcoQuartier, à ce titre vous recevrez la newsletter ainsi que les invitations au <a class="alert-info" href="http://www.ecoquartiers.logement.gouv.fr/clubs-regionaux-r550.html">club EcoQuartier de votre région</a> et au <a href="http://www.ecoquartiers.logement.gouv.fr/club-ecoquartier-r7.html">club EcoQuartier</a> national (formations, visites et journées thématiques).
    </div>

    {% buttons %}
    <button type="submit" class="btn btn-block">
      Soumettre votre projet d'écoquartier
    </button>
  {% endbuttons %}
</form>
</div>

<div class="col-md-5">
<div class="alert alert-warning" role="alert" id="contacts" style="display: none;">
  <h5 class="alert-heading">Besoin d’informations ?</h5>
  <p>Vos référents EQ à la DREAL/DDT peuvent vous aider</p>
  <ul class="m-b-0">
  <li>Contact DREAL : <span id="contact-dreal"></span></li>
  <li>Contact DDT : <span id="contact-ddt"></span></li>
  </ul>
</div>
<div class="alert alert-warning" role="alert">
  <p class="m-b-0">Ils font la ville et les territoires durables autour de vous !</p>
  <div>{% leaflet_map "project_map" %}</div>
</div>
<div class="alert alert-warning" role="alert">
  <p class="m-b-0"><a target="_blank" class="alert-warning" href="http://www.ecoquartiers.logement.gouv.fr">Agenda Ville durable</a></p>
</div>
</div>

</div>
</div>

{% endblock %}

{% block after-body %}
  {{ block.super }}
  {{ form.media }}

<script type="text/javascript">
var map, map2;
$(window).on("map:init", function (e) {
if(e.detail.id === 'id_coordonnees_geographiques_map'){
   map = e.detail.map;
   map.on('map:loadfield', function () {
      map.drawControlid_coordonnees_geographiques.setDrawingOptions({
          rectangle: false,
          marker:false,
          polyline:false
      });
      map.removeControl(map.drawControlid_coordonnees_geographiques);
      map.addControl(map.drawControlid_coordonnees_geographiques);
   });
}
if(e.detail.id === 'project_map'){
  var layer = L.geoJson();
  map2 = e.detail.map;
  map2.addLayer(layer);
  $.getJSON("{% url 'data' %}", function (data) {
      //layer.addData(data);
      function onEachFeature(feature, layer) {
      if (feature.properties) {
          var content_img = '';
          if(feature.properties.feature !== null){
          var content_img = "<img src='"+feature.properties.feature+"' style='width:100%' />"
          }
          var content = content_img+'<b>'+feature.properties.nom+" ("+feature.properties.commune_label+") </b><br>"+feature.properties.short_description + "<br/><br/><div> <a target='_blank' href='"+feature.properties.url+"' class='btn btn-outline-primary btn-block btn-sm' role='button'>Détail</a> </div>";

          layer.bindPopup(content);
          }
      }
      L.geoJson(data, {
        style: function(feature) {
          switch (feature.properties.state) {
              case 'labeled':
                return {color: "rgba(99, 255, 132, 0.8)", "opacity": 1, fillColor:"rgba(99, 255, 132, 0.8)"};
              case 'engaged':
                return {color: "rgba(99, 125, 132, 0.4)", "opacity": 1, fillColor:"rgba(99, 125, 132, 0.4)"};
              case 'charte':
                return {color: "rgba(99, 0, 132, 0.2)", "opacity": 1, fillColor:"#dddddd"};
              case 'none':
                return {color: "rgba(100, 100, 100, 0.2)", "opacity": 1, fillColor:"#dddddd"};
          }
        },
        onEachFeature: onEachFeature,
        pointToLayer: function(feature, latlng) {
          return new L.CircleMarker(latlng, {radius: 1, fillOpacity: 0.85});
        }
      }).addTo(map2);
  });
}

});

</script>

<script type="text/javascript">
  $('#contacts').hide();
  $("#id_commune").on('select2:select', function(e){
    var url = "https://geo.api.gouv.fr/communes?fields=centre,region,departement&nom="+e.params.data.text;
    $.get(url, function(data){
      var coord = data[0].centre.coordinates
      map.setView(new L.LatLng(coord[1], coord[0]), 12);
      map2.setView(new L.LatLng(coord[1], coord[0]), 9);
      var departement_code = data[0].departement.code;
      var region_code = data[0].region.code;
      var url_mask = "{% url 'interlocuteurs' 11 %}".replace(/11/, departement_code);
      $.get(url_mask, function(data){
        $('#contacts').show();
        $('#contact-ddt').text(data.ddt[0].person__mail);
        $('#contact-dreal').text(data.dreal[0].person__mail);
      })
    })
  })
</script>

    <script type="text/javascript">
    $( document ).ready(function() {
      $('#more-contact').hide()
      $('#add-contact').click(function(e){
        e.preventDefault();
        $('#add-contact').hide();
        $('#more-contact').show();
      })
    })
    </script>

{% endblock %}