{% extends "base.html" %}
{% load leaflet_tags bootstrap3 %}

{% block body %}

<div class="container">

<h2>{{ object.nom }}</h2>

{{ object.description }}

<div>
{% for photo in object.projectphoto_set.all %}
<img height="200px" src="{{ photo.photo.url }}" />
{% endfor %}
</div>

<table class="table">
<tr>
	<th class="bg-info">1</th>
	<th class="bg-warning">2</th>
	<th class="bg-danger">3</th>
	<th class="bg-success">4</th>
</tr>
<tr>
	<td class="bg-info"><a href="{% url 'engagement' object.id 1 %}">Engagement 1</a></td>
	<td class="bg-warning"><a href="{% url 'engagement' object.id 6 %}">Engagement 6</a></td>
	<td class="bg-danger"><a href="{% url 'engagement' object.id 11 %}">Engagement 11</a></td>
	<td class="bg-success"><a href="{% url 'engagement' object.id 16 %}">Engagement 16</a></td>
</tr>
<tr>
	<td class="bg-info"><a href="{% url 'engagement' object.id 2 %}">Engagement 2</a></td>
	<td class="bg-warning"><a href="{% url 'engagement' object.id 7 %}">Engagement 7</a></td>
	<td class="bg-danger"><a href="{% url 'engagement' object.id 12 %}">Engagement 12</a></td>
	<td class="bg-success"><a href="{% url 'engagement' object.id 17 %}">Engagement 17</a></td>
</tr>
<tr>
	<td class="bg-info"><a href="{% url 'engagement' object.id 3 %}">Engagement 3</a></td>
	<td class="bg-warning"><a href="{% url 'engagement' object.id 8 %}">Engagement 8</a></td>
	<td class="bg-danger"><a href="{% url 'engagement' object.id 13 %}">Engagement 13</a></td>
	<td class="bg-success"><a href="{% url 'engagement' object.id 18 %}">Engagement 18</a></td>
</tr>
<tr>
	<td class="bg-info"><a href="{% url 'engagement' object.id 4 %}">Engagement 4</a></td>
	<td class="bg-warning"><a href="{% url 'engagement' object.id 9 %}">Engagement 9</a></td>
	<td class="bg-danger"><a href="{% url 'engagement' object.id 14 %}">Engagement 14</a></td>
	<td class="bg-success"><a href="{% url 'engagement' object.id 19 %}">Engagement 19</a></td>
</tr>
<tr>
	<td class="bg-info"><a href="{% url 'engagement' object.id 5 %}">Engagement 5</a></td>
	<td class="bg-warning"><a href="{% url 'engagement' object.id 10 %}">Engagement 10</a></td>
	<td class="bg-danger"><a href="{% url 'engagement' object.id 15 %}">Engagement 15</a></td>
	<td class="bg-success"><a href="{% url 'engagement' object.id 20 %}">Engagement 20</a></td>
</tr>
</table>

</div>

{% endblock %}